<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix - Inicio</title>
    <link rel="stylesheet" href="style_netflix.css">

</head>
<body>
    <div class="navbar">
        <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" alt="Netflix Logo">
        <div class="menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Series</a></li>
                <li><a href="#">Películas</a></li>
                <li><a href="#">Novedades populares</a></li>
                <li><a href="#">Mi lista</a></li>
            </ul>
        </div>
        <div class="icons">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/search.png" alt="Buscar">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/gift.png" alt="Regalo">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/appointment-reminders.png" alt="Notificaciones">
            <img src="img_netflix/iconoperfil.png" alt="Perfil">
        </div>
    </div>

    <div class="hero">
        <h1>Película Destacada</h1>
    </div>

    <div class="row">
        <h2>Populares en Netflix</h2>
        <div class="thumbnails">
            <img src="img_netflix/1.png" alt="thumbnail 1">
            <img src="img_netflix/2.png" alt="thumbnail 2">
            <img src="img_netflix/3.png" alt="thumbnail 3">
            <img src="img_netflix/4.png" alt="thumbnail 4">
            <img src="img_netflix/5.png" alt="thumbnail 5">
        </div>
    </div>

    <div class="row">
        <h2>Series de TV</h2>
        <div class="thumbnails">
            <img src="img_netflix/6.png" alt="thumbnail 1">
            <img src="img_netflix/7.png" alt="thumbnail 2">
            <img src="img_netflix/8.png" alt="thumbnail 3">
            <img src="img_netflix/9.png" alt="thumbnail 4">
            <img src="img_netflix/10.png" alt="thumbnail 5">
        </div>
    </div>

    <div class="row">
        <h2>Volver a ver</h2>
        <div class="thumbnails">
            <img src="img_netflix/11.png" alt="thumbnail 1">
            <img src="img_netflix/12.png" alt="thumbnail 2">
            <img src="img_netflix/13.png" alt="thumbnail 3">
            <img src="img_netflix/14.png" alt="thumbnail 4">
            <img src="img_netflix/15.png" alt="thumbnail 5">
        </div>
    </div>
</body>
</html>