/* Estilo para la tabla */
table {
    table-layout: auto; /* Ajusta el tamaño de la tabla al contenido */
    border-collapse: collapse;
}


/* Estilo para todas las celdas encabezadas y datos */
th, td {
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    padding: 8px;
}

/* Estilo específico para la primera fila */
tr:first-child {
    text-decoration: underline;
    text-align: center;
}

/* Estilo específico para la celda 1 */
td[colspan="3"]:first-child {
    background-color: #7add7a; /* Fondo verde claro */
}

/* Estilo específico para la celda 2 */
th[rowspan="2"] {
    text-align: left; /* Alineación a la izquierda */
    background-color: #b3e0ff; /* Fondo azul celeste */
}

/* Estilo específico para celda 3, 5 y 8 */
td:nth-of-type(3), /* Celda 3 */
td:nth-of-type(5), /* Celda 5 */
td:nth-of-type(8) { /* Celda 8 */
    color: red; /* Color de letra rojo */
}